MYSQL_DATABASE=agent_commerce
MYSQL_USER=commerce
MYSQL_PASSWORD=commerce123
MYSQL_ROOT_PASSWORD=root123
MYSQL_HOST_PORT=3307
BACKEND_HOST_PORT=8080
FRONTEND_HOST_PORT=5173
CORS_ALLOWED_ORIGIN=http://localhost:5173
AGENT_BASE_URL=http://host.docker.internal:8000
AGENT_CONNECT_TIMEOUT_MS=2000
AGENT_READ_TIMEOUT_MS=15000
